<% include ../header.ejs %>
<h1>Select the Author</h1>
<% authors.forEach(function(author){ %>
    <ul>
        <a href="/books/new/<%= author.id %>/book"><li><%= author.name %></li></a>
    </ul>
    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
<% }) %>
<a href="/authors/new"><h6>If not press here</h6></a>
<% include ../footer.ejs %>