<% include ./header.ejs %>
        <div class="container-fluid">
            <div class="row">
                    <div class="row col-md-12">
                <% if(allbooks.length !=0){ %>
                    <% allbooks.forEach(function(book){ %>
                            <div class="col-md-2">
                                <div class="img-thumbnail">
                                    <a href="/books/<%= book._id %>"><img src="<%= book.image %>"
                                        alt="<%= book.name %>" class="indeximage" style="width:200px; height: 300px;">

                                    </a>
                                </div>
                            </div>
                    <% }) %>
                <% }else{ %>
                    <h1>No Books</h1>
                <% } %>
            </div>
            </div>
        </div>

        <% include ./footer.ejs %>